html {
    background-color: #ddd;
    color: #222;
    font-family: sans-serif;
}
header {
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 5px 0 5px 0;
}
body {
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
}
footer .footer-icons {
    margin: 10px;
    text-decoration: none;
    font-size: 2em;
}
footer .fa {
    margin: 0 20px 0 20px;
}
.contents {
    margin: auto;
    padding: 20px 0 0 0;
}