html {
    background-color: #ddd;
    color: #222;
    font-family: sans-serif;
}
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
}
body {
    margin: 0;
    padding: 0;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer .footer-icons {
    margin: 10px;
    text-decoration: none;
    font-size: 2em;
}
footer .fa {
    margin: 0 20px 0 20px;
    color: #222;
}
.contents {
    margin: auto;
    padding: 20px 0 0 0;
    text-align: center;
}
.chart-area {
    box-shadow: 3px 3px 3px #444;;
    margin: 10px;
    border-radius: 50%;
    background: radial-gradient(blue, #222);
    opacity: 0.9;
}
.legend {
    position: relative;
    text-align: left;
}
.toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
}